/* .quiz{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-size: cover ;
    background-color: #0f221d;
    color: #ffffff;
    /* text-transform: uppercase; */


.question, .header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 30px auto;
    backdrop-filter: blur(10px);
    font-size: 18px;
    box-shadow: 11px 12px 50px -11px rgba(0, 0, 0, 0.67);
    line-height: 1.3636363636;
    border-radius: 25px;
    border: 2px solid #1de5ac;
}

.header{
    position: absolute;
    top: 0;
    left: 50%;
    padding: 15px 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .logoHmarochos{
    height: 35px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    margin-left: auto;
}
.logo:hover{
    text-decoration: underline;
}

.logoHmarochos{
    height: 50px;
    margin-left: auto;
    margin-right: auto;
   position: absolute;
    top:5px;
    left: 50%;
    transform: translateX(-50%);
}

.plash{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    height: 65px;
    display: flex;
}

.questionContainer {
    min-height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-color: #0f221d;
    color: #ffffff;
    transition: 1s ease-in-out;
}

.question .answerContainer {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.question .answer {
    width: 100%;
    transition: 1s ease-in-out;
    margin-top: 20px;


}

.question .answer button {
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    font-size: inherit;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    cursor: pointer;
    transition: 0.5s;
    font-family: inherit;
    /* border: 1px solid transparent */

}

.question .answer button:hover {

    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 11px 12px 50px -11px rgba(0, 0, 0, 0.67);
    /* border: 1px solid #1de5ac */
}

/* .question .answer button:hover span{
    transform: translateX(30px);
    transition: 1s ease-in-out;

} */

.question .icon {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionText {
    text-align: justify;
}

.accent {
    color: #1de5ac;
}


.loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    opacity: 1;
}

.car__body {
    animation: shake 0.2s ease-in-out infinite alternate;
}

.carLine {
    transform-origin: center right;
    stroke-dasharray: 22;
    animation: line 0.8s ease-in-out infinite;
    animation-fill-mode: both;
}

.carLineTop {
    animation-delay: 0s;
}

.carLineMiddle {
    animation-delay: 0.2s;
}

.carLineBottom {
    animation-delay: 0.4s;
}

@keyframes shake {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(3%);
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}



@media screen and (max-width: 980px) {
    .question,  .header {
        padding: 20px;
        margin: 20px;
    }

   .header {
       box-sizing: border-box;
       width: calc(100% - 40px);
       margin: 20px 0 0 0;
       justify-content: space-between;
    }

   .logo{
       flex-wrap: wrap;
       justify-content: left;
       height: auto;
       max-width: 105px;
   }
   .logo img{
       height: 30px;
       margin-bottom: 5px;
   }

   .plash{
       display: none;
   }
}