/* .quiz{
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-size: cover ;
    background-color: #0f221d;
    color: #ffffff;
    /* text-transform: uppercase; */

.colorfull{
    color: #1de5ac;
}

.question {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    width: 100%;
    max-width: 900px;
    padding: 30px;
    margin: 30px auto;
    backdrop-filter: blur(10px);
    font-size: 18px;
    box-shadow: 11px 12px 50px -11px rgba(0, 0, 0, 0.67);
    line-height: 1.3636363636;
    border-radius: 25px;
    border: 2px solid #1de5ac;
    box-sizing: border-box;
}

.df {
   display: flex;
    justify-content: space-between;
}
.avatar{
    max-width: 70px;
    margin-right: 20px;
}

.header{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.logo, .logoHmarochos{
    height: 35px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 11px 12px 50px -11px rgba(0, 0, 0, 0.67);
    border-radius: 25px;
    border: 2px solid #1de5ac;
}
.logo:hover{
    text-decoration: underline;
}

.logoHmarochos{
    padding: 20px 30px;
    height: 50px;
}

.questionContainer {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-color: #0f221d;
    color: #ffffff;
    transition: opacity 1s ease-in-out, backdrop-filter 1s ease-in-out;
}

.blur{
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.question .answerContainer {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    transition: opacity 1s ease-in-out;
    align-content: stretch
    /*margin-left: 90px;*/
}


.question .answer {
    width: 100%;
    transition: opacity 1s ease-in-out;
    margin-top: 20px;


}


.question .answer button, .button {
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    font-size: inherit;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    cursor: pointer;
    transition: 0.5s;
    font-family: inherit;
    /* border: 1px solid transparent */
}
.question .answer button.withImage .image{
    height: 100px;
    margin-right: 15px;
}
.question .answer button.withImage .icon{
    display: none;
}


.question .answer button:hover,  .button:hover {

    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 11px 12px 50px -11px rgba(0, 0, 0, 0.67);
    /* border: 1px solid #1de5ac */
}

/* .question .answer button:hover span{
    transform: translateX(30px);
    transition: 1s ease-in-out;

} */

.question .icon {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionText {
    text-align: justify;
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionText b{
    color: #1de5ac;
    text-transform: uppercase;
}
.accent {
    color: #1de5ac;
}

.rate{
    max-width: 300px;
    margin: 20px auto;
}
.rateText{
    margin-top: 20px;
    font-weight: bold;
}
.stars{
    /*color: #1de5ac;*/
    margin-bottom: 20px;
}

.question .characterWindow {
    width: 47%;

}
.question .characterWindow button{
    flex-direction: column;
    text-transform: none;
    height: 100%;
}

.question .characterWindow button .image{
    margin-bottom: 15px;
    height: 150px !important;
    margin-left: 0;

}
.question .characterWindow button b{
    font-weight: bold;
    color: #1de5ac;
}
.question .characterWindow button p{
    margin: 7px 0;
}

.resultContainer{
   max-width: 300px;
}
.result{
    justify-content: center;
    padding: 40px;
}
.result .image{
    max-height: 200px;
}
.resultStarts{
   margin: 15px 0;
}

.resultText{
    margin-bottom: 15px;
}
.resultText b{
    color: #1de5ac;
    text-transform: uppercase;
}

.loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
    backdrop-filter: blur(5px);
    opacity: 1;
    z-index: 20;
    top: 0;
    left: 0;
}

.car__body {
    animation: shake 0.2s ease-in-out infinite alternate;
}

.carLine {
    transform-origin: center right;
    stroke-dasharray: 22;
    animation: line 0.8s ease-in-out infinite;
    animation-fill-mode: both;
}

.carLineTop {
    animation-delay: 0s;
}

.carLineMiddle {
    animation-delay: 0.2s;
}

.carLineBottom {
    animation-delay: 0.4s;
}

@keyframes shake {
    0% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(3%);
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}



@media screen and (max-width: 980px) {
    .question,  .header {
        padding: 20px;
        margin: 20px;
    }

   .header {
       box-sizing: border-box;
       width: calc(100% - 40px);
       margin: 0;
       justify-content: space-between;
       top: 0;
    }

   .logo{
       /*flex-wrap: wrap;*/
       justify-content: left;
       align-items: center;
       /*height: auto;*/
       /*max-width: 105px;*/
   }
   .logo img{
       height: 30px;
       margin-bottom: 5px;
   }

   .plash{
       display: none;
   }

    .questionContainer{
        padding-top: 250px;
    }
}

@media screen and (max-width: 500px) {

    .questionContainer{
        background-size: auto 100%;
    }

    .logo, .logoHmarochos{
        padding: 15px;
        height: auto;
        width: 120px;
    }
    .logo{
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
    .logo span{
        text-align: center;
    }
    .logo img, .logoHmarochos img{
        width: 90%;
        height: auto;
    }
    .header{
        align-items: stretch;
        padding: 20px 0;
        margin: 0;

    }

    .question{
        padding: 30px;
    }
    .questionText{
        padding-top: 0;
    }

    .question .answer{
        margin-top: 30px;
        padding-top: 0;
    }
    .question .answer:first-child {
        margin-top: 0;
    }

    .question .characterWindow {
        width: 100%;

    }

    .question .characterWindow button{
        padding-top: 0;
        margin-top: 20px;
        height: auto;
    }
    .question .characterWindow button img{
        transform: translateY(-20px);
    }
    .questionContainer{
        padding-top: 250px;
    }

    .questionText p{
        margin: 20px 0 0 0;
    }
    .questionText p:first-child{
        margin: 0;
    }

    .df{
    flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .question .answer button {
        text-align: center;

    }
    .question .answer button div{
        display: block;
        text-align: center;
        width: 100%;

    }
    .question .answer button .icon{
        display: none;
    }

    .question .answer button,  .button {
        background-color: rgba(255, 255, 255, 0.15);
        box-shadow: 11px 12px 50px -11px rgba(0, 0, 0, 0.67);
    }

    .question .car{
        display: none;
    }

    .question>div {
        padding: 0;
    }

}